@media (max-width: 500px) {
   html {
      font-size: 53%;
   }

   body {
      height: 100%
   }

   main {
      margin-top: 1rem;
      height: 100%
   }
   
   main img {
      width: 8rem;
      height: 8rem;
   }

   main h1 {
      font-size: 4rem;
      text-align: center;
   }
   
   .movie-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
   }

   .info-details {
      justify-content: center;
   }

   #movie-description {
      text-align: center;
   }

   .button {
      display: flex;
      flex-direction: column;
      gap: 3rem;
      height: 30%
   }

   .button button {
      width: 32rem;
   }

   #movieImage {
      width: 20rem;
      height: 26rem;
   }
}

@media (min-width: 650px) {
   .movie-info {
      gap: 4rem;
   }

   #movieImage {
      width: 29rem;
      height: 29rem;
      border-radius: 10px;
   }
}